<script>window.fbAsyncInit=function(){FB.init({appId:'{{ applicationCode }}',xfbml:true,version:'v2.5'});};</script>
<div class="fb-comments"
  data-href="{{ pageUrl }}"
  data-numposts="{{ numPosts }}"
  data-width="{{ width }}"
  data-order-by="{{ orderBy }}"
  data-colorscheme="{{ colorScheme }}"
  >
</div>
